{% extends "app/base.html" %}

{% block content %}

<div class="row my-4">
    <div class="col-md-8">
        {% for post in post_data %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <div class="btn btn-warning">Detail</div>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created|date }} by {{ post.author }}
                </div>
                <a href="" class="stretched-link"></a>

            </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">About this tutorial</h5>
            <div class="card-body">
                <p>Step1</p>
                <p class="mb-o">
                    Django tutorial for beginners.
                     Let's learn Django simply
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
